*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    
}
img{
    max-width: 100%;
}
.navbar{
    background-color: #362953!important;
}
a.nav-link:hover{
    /* color: #000 !important; */
    border-bottom: 2px solid #FF6374;

}
a.nav-link:active{
    border-bottom: 2px solid #FF6374;

}

.nav-link{
    color: #fff !important;
    text-transform: uppercase;
}
.navbar-brand{
    color: #fff !important;
}
span.navbar-toggler-icon{
    background-color: #fff!important;
}
.header_blog{
    background-image: url(assets/leadership2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
    
}
.blog_header{
    padding: 150px 0;
    color: #fff;
    text-align: center;
    
}
.blog__heading{
    font-size: 4rem;
}
section{
    background-color: #33264E;
    padding: 100px 0;
    color: #fff;
}
.blog-image{
    width: 380px;
    height: 300px;
}
.blog{
    display: flex !important;
    background-color: #362953;
    box-shadow: 15px 15px 15px 15px #31244A;
    margin-bottom: 30px;
    
    
}
.btn-blog{
    background-color: #FF6374!important;  
    border: 1px solid #000;
    margin-left: 200px;

}

.btn-blog a{
    color: #fff!important;
    text-decoration: none;
    font-weight: bold;
    
}
.btn-blog a:hover{
    text-decoration: none;
   
}
.row .col-md-5{
    padding-left: 0;
    padding-right: 0;
}
.blog__text{
    padding: 50px 15px 10px 15px;
    margin-bottom: 5px;
    color: #FFFFFF;

}
span .btn-search{
    color: #fff;
}
/* about section */
.about_image{
    border-radius: 100%;
    height: 100px;
    width: 100px;
    margin-right: 10px;
}
.social-icons{
    background-color: #FF6374;
    text-align: center;
    border-radius: 50px;
    padding: 10px 5px;
}
.fab{
    font-size: 20px;
}
.fab + .fab{
    margin-left: 10px;
}
.icon{
    color: #FF6374;
}
.about__text{
    text-align: justify;
    font-size: 14px;
    padding-top: 10px;
}

/* 2nd page */
.blog-single{
    background-color: #5D4D6C;
}
.blog-single_post{
    background-color: #362953;
    box-shadow: 10px 10px 10px 10px #000 ;
    
}
.blog-single__text{
    padding: 20px 40px;
}
.blog-single__text h2{
    font-size: 2.5rem;
}
.blog-small{
    font-size: 14px;
}
.blog-single__text p{
    text-align: justify;
}
.red{
    color: crimson;
}

/* login style */

/* for screens smaller than  600px */
@media (max-width: 600px){
    .blog{
        display: flex;
        flex-direction: column;
    }
    .btn-blog{
        margin-bottom: 0;
        margin-left: 100px;
    }
    .blog__heading{
        background-color: #362953;
    }
}